.backToTopBtn {
  font-size: clamp(1.75rem, 2.5vw, 3rem);

  position: fixed;
  right: 1em;
  bottom: 1em;

  width: 1.5em;
  aspect-ratio: 1;

  backdrop-filter: blur(1px);
  border: 2px solid var(--pink-clr-light);
  border-radius: 50%;
  cursor: pointer;

  z-index: 9999;

  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 960px) {
  .backToTopBtn:hover,
  .backToTopBtn:focus {
    transform: scale(1.2);
  }
}

.backToTopBtn > svg {
  width: 70%;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backToTopBtn > svg > path {
  fill: var(--pink-clr-light);
}
