*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* colors depend on project */
  --blue-clr: #87dcf8;
  --blue-clr-darker: #5cb8d6;
  --orange-clr: #ff914d;
  --orange-clr-light: #ffbd59;
  --yellow-clr: #ffde59;
  --gray-clr: #d9d9d9;
  --white: white;
  --whitesmoke: whitesmoke;

  --tricolor: linear-gradient(
    45deg,
    var(--orange-clr),
    var(--blue-clr),
    var(--yellow-clr)
  );

  --text-clr: #666666;
  --text-clr-dark: #333333;

  --bg-clr-dark: #252525;

  --nav-height: clamp(2.5rem, 10vw, 4.5rem);
  --progress-bar-height: clamp(0.375rem, 0.5vw, 0.75rem);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height, 10rem);

  height: 100%;
}

body {
  /* so the footer sticks to the bottom of page with margin-top: auto; */
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: Roboto, sans-serif;

  position: relative;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: inherit;
}

/* names of sections */
h3 {
  margin-block: min(2vw, 1rem);

  font-size: min(5vw, 2rem);

  text-transform: uppercase;
  color: var(--orange-clr);
}

p,
li {
  padding-block: min(0.5vw, 0.25rem);

  font-size: min(3.75vw, 1rem);

  line-height: 1.6;
  color: var(--text-clr);
}

@media screen and (min-width: 1600px) {
  :root {
    --nav-height: clamp(2.5rem, 10vw, 6rem);
  }

  /* names of sections */
  h3 {
    font-size: 3rem;
  }

  p,
  li {
    font-size: 1.375rem;
  }
}

a {
  color: var(--blue-clr);
}

a:hover,
a:focus {
  color: var(--blue-clr-darker);
}

.hidden {
  display: none;
}

.background-image {
  z-index: -9999;

  background-image: url(../img/bu-background.png);
  background-size: 120vw;

  position: absolute;
  inset: 0px;

  opacity: 0.05;
}

.box-content {
  margin: 0 auto;
  padding-inline: min(5%, 5rem);

  width: 100%;
  max-width: 120rem;
}

.section-divider {
  margin-block: min(2vw, 1rem);

  transform: scaleY(0.5);
}

@media screen and (max-width: 768px) {
  .box-content {
    padding-inline: 2%;
  }

  .section-divider {
    transform: none;
  }
}
