footer {
  font-size: min(2vw, 0.75rem);

  margin-top: auto;

  padding: 1em 2em;

  background-color: var(--blue-clr);
}

footer > div {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: right;
}

footer > div > p {
  font-size: 1.5em;
}

footer > div > p,
.footer__link,
.footer__link:hover,
.footer__link:focus {
  color: var(--whitesmoke);
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__logo {
  width: 1.5em;
}
