.background-image {
  z-index: -9999;

  background-image: url(../img/BDD-background.png);
  background-size: 120vw;

  position: absolute;
  inset: 0px;

  opacity: 0.05;
}

.box-content {
  margin: 0 auto;
  padding-inline: min(5%, 5rem);

  width: 100%;
  max-width: 120rem;
}

.section-divider {
  margin-block: min(2vw, 1rem);

  transform: scaleY(0.5);
}

@media screen and (max-width: 768px) {
  .box-content {
    padding-inline: 2%;
  }

  .section-divider {
    transform: none;
  }
}
