/* ===== info icons section ===== */

.info-icons-sec {
  padding-block: min(28vw, 14rem);

  position: relative;
  overflow: hidden;

  background: linear-gradient(
    rgba(255, 166, 80, 0),
    rgba(255, 145, 77, 0.6),
    rgba(255, 188, 87, 1),
    rgba(255, 188, 87, 1),
    rgba(255, 145, 77, 0.6),
    rgba(255, 166, 80, 0)
  );
}

.info-icons-sec__files-cards {
  font-size: 2vw;

  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  align-items: top;
  justify-content: space-around;
}

.info-icons-sec__file-card {
  flex-basis: clamp(8rem, 30%, 25rem);

  display: grid;
  place-items: center;
  gap: min(1.5em, 1rem);

  text-align: center;
}

.info-icons-sec__file-card svg {
  width: min(6em, 15rem);
  aspect-ratio: 1;
}

.info-icons-sec__doc-name {
  font-size: min(2.5em, 2rem);
  letter-spacing: min(2px, 0.25vw);

  text-transform: uppercase;

  color: var(--whitesmoke);
}

.info-icons-sec__doc-text {
  color: var(--white);
}

.info-icons-sec__doc-text > a {
  color: inherit;
}

.info-icons-sec__doc-text > a:hover,
.info-icons-sec__doc-text > a:focus {
  color: var(--blue-clr-light);
}
