.partneri-sec {
  position: relative;

  overflow: hidden;
}

.partneri-sec__imgs-container {
  margin: min(2rem, 4vw) auto;
}

.partneri-sec__background-blob {
  z-index: -1;

  position: absolute;
  left: 55%;
  top: 60%;
  transform: translate(-50%, -50%);

  width: 130%;
  height: 140%;

  opacity: 0.5;
}

.partneri-sec__background-blob > path {
  fill: var(--blue-clr);
}

.partneri-sec__imgs-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(4rem, 8vw);

  margin-inline: auto;
  padding-block: min(1vw, 1.5rem);
}

.partneri-sec__imgs-container > div:nth-of-type(1) {
  max-width: 80%;
}
.partneri-sec__imgs-container > div:nth-of-type(2) {
  max-width: 60%;
}
.partneri-sec__imgs-container > div:nth-of-type(3) {
  max-width: 50%;
}
.partneri-sec__imgs-container > div:nth-of-type(4),
.partneri-sec__imgs-container > div:nth-of-type(5) {
  max-width: 40%;
}

.partneri-sec__imgs-container > div > a {
  margin-inline: auto;
}

.partneri-sec__imgs-container > div > a > img {
  width: 100%;
  height: min(8vw, 8rem);

  transition: transform 0.3s ease-in-out;
}

.partneri-sec__imgs-container > div > a > img:hover,
.partneri-sec__imgs-container > div > a > img:focus {
  transform: translateY(-0.375rem);
}
