.raspored-sec__table {
  margin-top: min(4vw, 2rem);

  border-radius: min(4vw, 2rem);
  overflow: hidden;

  width: 100%;

  border-collapse: collapse;
  border-style: hidden;

  text-align: center;
}

.raspored-sec__table td,
.raspored-sec__table th {
  padding: min(0.5vw, 0.75rem);

  border: 2px solid;
}

.raspored-sec__th-row > th {
  font-size: min(4.25vw, 1.25rem);

  background-color: var(--brown-clr);
  border-color: var(--whitesmoke);
}

.raspored-sec__table td {
  border-color: var(--pink-clr);
}

.raspored-sec__th-row > th > h4 {
  color: var(--whitesmoke);
}

@media screen and (min-width: 1600px) {
  .raspored-sec__th-row > th {
    font-size: 1.5rem;
  }
}
