/* ===== zasto bdd section ===== */

.zasto-bdd-sec__content {
  padding-block: min(1rem, 2vw);

  display: flex;
  align-items: center;
}

.zasto-bdd-sec__animated-svg path {
  fill: url(#svg-gradient);
  stroke: var(--text-clr-dark);
}

@media screen and (max-width: 768px) {
  .zasto-bdd-sec__animated-svg {
    display: none;
  }
}

.zasto-bdd-sec__ul {
  list-style-type: circle;

  padding-left: clamp(1.25rem, 6vw, 3rem);
}

.zasto-bdd-sec__bdd-pink {
  color: var(--pink-clr);
}

/* .zasto-bdd-list-picture-container-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.zasto-bdd-list-picture-as-div {
  background: transparent;
  background-size: cover;
  height: 100%;
  background-position: center;
  position: relative;
  overflow: hidden;
  opacity: 1;
}

.zasto-bdd-text-wrapper {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.zasto-bdd-list-picture-as-div:hover .zasto-bdd-text-wrapper {
  transform: translateY(0) scale(1);
}

.zasto-bdd-list-picture-as-div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.zasto-bdd-list-picture-as-div:hover {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(120, 120, 120, 0) 60%
  );
}

.zasto-bdd-text-wrapper {
  padding: 10 rem;
} */
